
body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
}

/* navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    background-color: #d4d2d1;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 40px;
}

nav .logo h1 {
    margin: 0;
}


nav .logo h1 span {
    color: #a8a6a5;
}

nav .navigation li {
    display: inline-block;
    margin: 0 16px;
}

nav .navigation li a {
    display: inline-block;
    margin: 0 16px;
    font-weight: 700;
    color: #7a7776;
    transition: color 0.4s ease-out;
}

nav .navigation li a:hover {
    color: black;
}

nav .nav_mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    nav .logo, .navigation {
        display: none;
    }

    nav .nav_mobile {
        width: 100%;
        display: flex;
        height: 64px;
        justify-content: space-around;
    }

    nav .nav_mobile img {
        width: 8%;
    }
}

/* banner */

header {
    margin-top: 50px;
    background-image: url(../images/books.jpg);
    background-size: cover;
}

header .banner {
    padding: 32px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .banner img {
    width: 60%;
    border: 4px solid black;
    border-radius: 10px;
}

header .banner .info {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    vertical-align: middle;
    width: 30%;
    height: fit-content;
}

header .banner .info .button {
    text-align: center;
    width: 300px;
    padding: 2px 0;
    margin: auto;
    height: fit-content;
    background-color: #bdb9b6;
    transition: all 0.6s ease-out 0.2s;
}

header .banner .info .button:hover {
    width: 180px;
    background-color: #7a7776;
    border-radius: 15px;
}

header .banner .info .button h4{
    margin: 8px auto;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    
}

/* Article */
main .article {
    display: flex;
    padding: 32px 0;
}
main .article .practice {
    border-radius: 20px;
    background-color: #e0dcd8;
    padding-top:30px;
    margin-right: 10px;
    width: 60%;
    text-align: center;
}

main .article .practice img{
    width: 85%;
}

main .article .practice .info {
    width: 85%;
    margin: auto;
    text-align: left;
}

/* Article news */

main .article .news {
    width: 40%;
    font-size: 0.85em;
    border-left: 1px solid grey;
}

main .article .news .news_item {
    display: flex;
    padding: 16px;
}

main .article .news .news_item .thumbnail {
    width: 35%;
}

main .article .news .news_item img {
    width: 90%;
    margin: 0;
}

main .article .news .news_item .description {
    width: 65%;
}

main .article .news .news_item .description h4 {
    margin-bottom: 0;
}
main .article .news .news_item .description p {
    margin: 5px 0;
}

/* Start learning */
main .start_learning {
    background-color: #f0ebe8;
    text-align: center;
}

main .start_learning .cources_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .start_learning .cources_container .cource{
    border: 2px solid black;
    border-radius: 10px;
    width: 27%;
    margin: 16px;
    z-index: 5;
    background-color: white;
}

main .start_learning .cources_container .cource img{
    width: 100%;
    border-radius: 9px 9px 0 0;
}

main .start_learning .cources_container .cource .description{
    text-align: left;
    margin: 0 16px;
}

/* Thesis section */

main .thesis {
    text-align: center;
}

main .thesis .video_container {
    display: flex;
}

main .thesis .video_container .current_video {
    width: 60%;
    margin: 32px 24px;
}

main .thesis .video_container .current_video video {
    width: 100%;
}

main .thesis .video_container .current_video .description {
    text-align: left;
}

main .thesis .video_container .other_videos {
    width: 40%;
}

main .thesis .video_container .other_videos .video_option{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #f0ebe8;
    display: flex;
    margin: 5px;
}

main .thesis .video_container .other_videos .video_option .thumbnail{
    width: 35%;
    margin: 16px;
}

main .thesis .video_container .other_videos .video_option .thumbnail img{
    width: 100%;
}

main .thesis .video_container .other_videos .video_option .description{
    width: 65%;
    font-size: 0.8em;
    text-align: left;
}

/* footer */

footer {
    border-top: 2px solid black;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

footer li {
    display: inline-block;
    margin: 0 8px;
}




