
body {
    font-family: 'Poppins', sans-serif;
}

/* navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    padding: 0 24px;
}

nav .logo{
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 40px;
}

nav .logo h1 {
    margin: 0;
}

nav .logo h1 span {
    color: #a8a6a5;
}

nav .navigation li {
    display: inline-block;
    margin: 0 16px;
}

/* banner */
header .banner {
    border: 1px solid red;
    padding: 32px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .banner img {
    width: 60%;
}

header .banner .info {
    vertical-align: middle;
    width: 30%;
    height: fit-content;
}

header .banner .info .button {
    text-align: center;
    border: 1px solid red;
    width: 70%;
    margin: auto;
    height: fit-content;
}

header .banner .info .button h4{
    margin: 8px auto;
}

/* Article */
main .article {
    border: 1px solid red
}
main .article .practice {
    border: 1px solid blue;
    width: 65%;
    text-align: center;
}

main .article .practice img{
    width: 85%;
}

main .article .practice .info {
    border: 1px solid green;
    width: 85%;
    margin: auto;
    text-align: left;
}
